@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
    margin: 0%;
    padding: 0%;
}
.dark{
    color: white;
    background-color: rgb(19, 19, 19);
    transition: 1s ease;
}
.light{
    transition: 1s ease;
}